/* Home Page*/
.home-wrap {
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
}

.home-container {
  padding-bottom: 20px;
}

.home-container {
  height: 100%;
  max-width: 1140px;
}

.homeTitle {
  background-color: rgb(92, 69, 126);
  height: 35px;
  box-shadow: -5px -5px 0px rgba(92, 69, 126, 0.7);
  color: white;
}

.homeTitle > div {
  display: flex;
  justify-content: space-between;
}

#seeAll {
  display: flex;
  align-items: center;
  justify-content: center;
}

#seeAll > p {
  border: 1px solid gray;
  margin-top: 10px;
  width: 150px;
}

#seeAll span:hover {
  color: rgb(149, 152, 154);
  cursor: pointer;
}

.events-container {
  margin-top: 20px;
}

.events-content {
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
}

.lastestChar img {
  height: 80px;
  image-rendering: -moz-crisp-edges;
}

#latestCharType {
  font-size: 12px;
  border: 1px solid black;
  width: 60px;
  text-align: center;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: rgb(215, 211, 211);
}

.patchNotes-container {
  padding-top: 30px;
}

.patchNotes-image img {
  width: 200px;
  height: 150px;
  border-radius: 10px;
}

.newsfeed-container {
  background-color: aliceblue;
  padding: 15px;
  margin: auto;
}

.twitterFeed {
  width: 50%;
  height: auto;
}

.moreBtn {
  cursor: pointer;
  background-color: #fff;
  width: 200px;
}

.sidebarLink {
  color: #2f4f4f;
  font-size: 16px;
}

.sidebarLink:hover {
  color: black;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.twitterContainer {
  padding: 20px;
}

.twitterFeed {
  font-size: 12px;
}

.twitterEsperImg {
  height: 400px;
}

@media (max-width: 576px) {
  .home_right_container {
    display: none;
  }

  .twitterEsperImg {
    height: 300px;
  }

  .twitterContainer {
    padding: 0;
  }

  .youtube {
    width: 290px;
    height: 200px;
  }
}

@media (max-width: 959px) {
  .home_right_container {
    display: none;
  }

  p {
    font-size: 13px;
  }
}
