@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300;400&family=Oswald:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,400;1,200&family=Roboto+Slab:wght@300&family=Roboto:wght@300&family=Rubik+Spray+Paint&display=swap");

body {
  font-family: "Oswald", sans-serif;
}

.App {
  font-family: "Oswald", sans-serif;
}

/* TierList Page */

.headshot a {
  text-decoration: none;
  color: black;
}

.headshot img {
  height: 65px;
  image-rendering: smooth;
}

.headshot span {
  line-height: 0.9;
}

.inactive {
  display: none;
}

.site-logo img {
  height: 200px;
  margin-left: 50px;
}

.search {
  border-radius: 10px 0px 10px 0px;
  background-color: #a7bcb9;
  font-family: "Impact", sans-serif;
  text-transform: uppercase;
  border: 1px solid #0b0108;
  transition: all 0.2 ease-in-out;
  height: 30px;
  width: 85px;
  font-size: 15px;
  margin-right: 10px;
}

.roleSearch {
  border-radius: 10px 0px 10px 0px;
  background-color: #a7bcb9;
  font-family: "Impact", sans-serif;
  text-transform: uppercase;
  border: 1px solid #0b0108;
  transition: all 0.2 ease-in-out;
  height: 30px;
  width: 100px;
  font-size: 15px;
  margin-right: 10px;
}

.searchType img {
  width: 25px;
}

.rare {
  width: 10px;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 20px;
}

table tr:hover {
  background-color: #b8b5b5;
}

table th {
  font-size: 14px;
  cursor: pointer;
}

tr.charList > td > p {
  line-height: 18px;
  margin-bottom: 0px;
}

.altFont {
  font-family: "Impact", sans-serif;
}

.hero_sort {
  cursor: pointer;
  position: relative;
}

.hero_sort:hover {
  background-color: lightgray;
}

.fa-solid {
  opacity: 1;
  position: absolute;
  bottom: 35%;
  right: 10%;
}

/* Footer*/
.footer-container {
  width: 100%;
  height: 30vh;
  background-size: 900px;
  color: white;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 200px;
}

.terms_list {
  font-size: 20px;
  margin-top: 20px;
}

.footnote {
  text-align: center;
}

@media (max-width: 420px) {
  .terms_list {
    font-size: 15px;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .nav-content {
    width: 50%;
  }

  .site-logo a img {
    height: 150px;
  }

  .nav-item a {
    font-size: 15px;
  }

  .article-left {
    display: none;
  }

  .mobileimage-container {
    display: block;
    height: 400px;
    width: 325px;
    background-color: rgb(213, 213, 213);
    border-radius: 50px 0 50px 0;
    margin: auto;
    margin-bottom: 20px;
  }

  .mobileimage {
    height: 95%;
    width: 95%;
    object-fit: cover;
  }

  .newsfeed-container {
    font-size: 12px;
  }

  .resonanceItem p {
    font-size: 12px;
    margin-left: 5px;
  }

  .resonanceInside img {
    width: 30px;
  }
}

@media (max-width: 575px) {
  .proCons-content {
    width: 25em;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .article-deskimage {
    width: 100%;
  }

  .proCons-content {
    width: 40em;
  }

  .esper-container {
    width: 960px !important;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .article-deskimage {
    width: 90%;
  }
}

@media (max-width: 960px) {
  .patchNotes-image img {
    width: 165px;
    height: 125px;
  }

  .sideNav {
    display: none;
  }

  .searchType {
    font-size: 13px;
  }

  .tierlist-container > div {
    gap: 15px;
  }

  .searchGloss {
    justify-content: center;
  }

  @media (max-width: 500px) {
    .resonanceItem p {
      font-size: 12px;
      margin-left: 5px;
    }

    .resonanceInside img {
      width: 30px;
    }

    .newsfeed-container {
      font-size: 12px;
    }
  }

  @media (max-width: 1200px) {
    .fa-solid {
      right: -2%;
      opacity: 0;
    }
  }
}
